**/*.o
**/*.a
**/*.cm*
**/_build
**/*.build
**/*.native
chameneos-redux/chameneos_redux_async
chameneos-redux/chameneos_redux_evtchn
chameneos-redux/chameneos_redux_lwt
chameneos-redux/chameneos_redux_th
lexifi-g2pp/run.exe
sauvola/contrast
thread/thread_ring_async_pipe
thread/thread_ring_lwt_mvar
thread/thread_ring_lwt_stream
thread/thread_sleep_async
thread/thread_sleep_lwt